<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/event.css') }}">
</head>
<body>
    <center>
    <div id="user_container">
    
        <p>Id : {{user.id}}</p>
        <p>Name : {{user.name}}</p>
        <p>Age : {{user.age}}</p>
        <p>Gender : {{user.gender}}</p>
        <p>Contact : {{user.phone}}</p>
        <p>Address : {{user.address}}</p>
        <p>Email : {{user.email}}</p>
        <p>license : {{user.license}}</p>
        
        <a href="/">Home</a>
    </div>
    
        
    </center>
</body>
</html>